/* Définition des polices personnalisées */

@font-face
font-family: 'Roboto', sans-serif;

/* Eléments principaux de la page */


.container{
	max-width: 1190px;
	border:1px solid;

}

body{
	font-family: roboto;
	font-size: 12px;	
}

/* Eléments principaux de header */

.col-md-4{
	background-color: #FECA07;
}

.photo{
	height:325px;
	padding-top: 68px;
}

.maphoto{ 
	height: 214px;
	border:solid 3px rgba(64, 64, 64, 0.2);
}

.col-md-8{
	background-color: white;
}
		
.baseline{
	padding-top: 112px;
	padding-bottom: 120px;
	padding-left: 40px;
}

 .prenom{
	color:#FECA07;
	text-transform: uppercase;
	font-weight: bold;   
}

.sub{
	text-decoration: underline #FECA07;	
}

/* Corps 1*/

aside {
	padding: 0 !important;		
}

section h2{
	background: #404040;	
	color:#FECA07;
	text-align: center;
}

h6 {
	padding-left: 25px;
	padding-right: 30px;
}

.contact1{
	padding-left: 25px;
	padding-right: 30px;
}

.info1{
	padding-left: 25px;
	padding-right: 30px;
	text-align: justify;
	padding-top: 15px;

}

.aproposdemoi{
	height: 700px;
}

.icon{
	color: #404040;	
	padding: 20px;
	border-radius: 50%;
	border:3px solid #404040;	
	margin-left: 35px;
	
}
.icon fa{
	height: 45px;
	width:45px;
}
.loisirs{
	padding-top: 25px;
	padding-bottom: 25px;
}


/* Corps 2 */


.items
{
	border-bottom: 2px solid #FECA07;
	margin-bottom: 30px;	
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	
}

h2.items{
	font-weight: bold;
}

.fa-graduation-cap,.fa-briefcase, .fa-pencil-alt, .fa-dot-circle,.fa-circle{
	color: #FECA07;
	padding: 17px;

 }



/* recomendations*/
h3{
	font-weight: bold;
}

.bol{
	font-weight: bold;
}
